<config>
	<login>
		<user>admin@admin.com</user>
		<password>admin11</password>
		<url>http://localhost:8080/</url>	
	</login>
	<db>
		<dir_db>jdbc:mysql://localhost/jagdpanther</dir_db>
		<user_db>root</user_db>
		<pass_db>root</pass_db>
	</db>
	<driverconfig>
		
	
	</driverconfig>
	<datasource>
		<excelpath>\\src\\framework\\utils</excelpath>
		<excelnamesource>testStages.xlsx</excelnamesource>
	</datasource>
	
</config>